# **Data types and structures questions**

---

## 1.What are data structures and why are they important ?

 -  Data structure is a way of organizing and sorting data so that it can be accessed and manupilated efficiently.
 - Data structures - strings , lists , set , tuples , dictionary , array
 - They are important because they provide organized ways to store and manage data , enabling efficient algorithms and memory usage.

##2. Explain the difference between mutable and immutable data tyoes with examples.
 -  Mutable data types : objects whose values can be changed after they are created
  -  lists , dictionaries , sets

In [ ]:
# list
list=[1,2,3,4]
list

[1, 2, 3, 4]

In [ ]:
list[0]="100"

In [ ]:
list

['100', 2, 3, 4]

In [ ]:
#dictionaries
d={"name":"ajay","email":"aj@gmail.com","address":123}
d

{'name': 'ajay', 'email': 'aj@gmail.com', 'address': 123}

In [ ]:
d['name']="bijay"
d

{'name': 'bijay', 'email': 'aj@gmail.com', 'address': 123}

In [ ]:
#sets
a={100,200,300}
a

{100, 200, 300}

In [ ]:
a.add(500)
a

{100, 200, 300, 500}

 -  Immutable data types: objects whose values cannot be changed once they are created
   -  string , tuples

In [ ]:
#strings
my_string="hello world"
my_string[0]='j'

TypeError: 'str' object does not support item assignment

In [ ]:
# tuples
my_tuple=(1,2,3)
my_tuple[0]=4

TypeError: 'tuple' object does not support item assignment

##3.What are the main diffrences between lists and tuples in pyhton?
 -  List - lists are ordered collection of items.
 -   feature [ ] .
 -  can store any datatype
 -  lists are mutable.
 -  stores heterogeneous data .

In [ ]:
#lists
grocery_list=["milk","orange",1,2.2,"true",3+5j]
type(grocery_list)

list

  -  tuples - tuples are ordered collection of items .
  -  feature ( ) .
  -  can store any datatype .
  -  lists are immutable .
  -  stores hetrogenous data .

In [ ]:
#tuples
t=("pwskills","ajay",2,2.3,"ture",3+5j)
type(t)

tuple

##4. Describe how dictionaries stores data.
  -  Dictionaries stores data in key and value pairs.

In [ ]:
d={"name":"ajay","email":"aj@gmail.com","contact":1234}
type(d)

dict

##5.Why might you use a set instead of a list in python?
  -  A set might be preferred over a list in pyhton for it's ability to store data with unique elements and efficient membership testing capabilities. sets automatically remove and eliminate duplicate data and entries, ensuring that each element is unique .

##6. What is a string in python , how is it different from a list ?
  -  A  is a sequence of characters where character is a unit of text between single or double unit qoutes , which is helpful to represent and manipulate textual data in programming language . a list a sequence of items where each item could be a string , integer, boolean , float , etc.

##7. How do tuples ensure data integrity in python?
  -  Tuples help  to ensure data integrity in Python through immutability to ensure that thier contents remain constant through thier life .

##8. What is a hash table , and how does it relate to dictionaries in python?
  -  A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index into buckets or slots, from which the desired value can be found. In Python, a dictionary (dict) is an implementation of a hash table.

##9. Can lists can contain different data types in pyhton ?
  -  yes, lists can contain heterogeneous data that are of diffrent types of elements such as strings , integers , floats , boolean and other complex data types .

In [ ]:
t=["pwskills","ajay",2,2.3,"ture",3+5j]
print(t)

['pwskills', 'ajay', 2, 2.3, 'ture', (3+5j)]

##10. Explain why strings are immutable in python .
  -  Strings in Python are immutable, means once a string is created, they cannot be changed. use cases like adhar card info, it should be not changable after once the details of a person have been entered.

##11. What advantages do dictionaries offer over lists for certain tasks?
  -  dictionaries stores data in the form of key and value pairs  . it is used when you need fast access to elements by a unique identifier (like a username, ID, etc.).
  
  In a list, you access elements by numeric index (my_list[0]), which may not be very descriptive.

In a dictionary, you use keys that can be descriptive (my_dict["username"]), making the code more readable.

##12. Describe a scenario where using a tuple would be preferable over a list.
  - A tuple is prefered over a list in scenarios where immutability and performance are important. If you expect to add, remove, or modify the collection after creation (e.g., a to-do list or shopping cart), a list would be more appropriate.

##13. How do sets handle duplicate values in Python?
  -   A set is an unordered collection of unique elements. it aumatically removes any duplicate values from the data

In [ ]:
my_set = {1, 2, 2, 3, 6, 6, 5}
print(my_set)

{1, 2, 3, 5, 6}

##14.  How does the "in" keyword work differently for lists and dictionaries?
  -  In list , in function is used to check wheather the element is present in the list or not .

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print('banana' in fruits)

True

  -  in dictionaries it checks whether a value is present as a key in the dictionary — not the values.

In [ ]:
person = {'name': 'priya', 'age': 30, 'contact':5934}
print('name' in person)

True

##15. Can you modify the elements of a tuple? Explain why or why not.
  -  No, we cannot modify the elements of a tuple in Python. This is because tuples are immutable which means once a tuple is created, its elements cannot be changed, added to, or removed.

In [ ]:
 t=(2,2.3, 4,5)
 type(t)

tuple

In [ ]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

##16.What is a nested dictionary, and give an example of its use case?
  - A nested dictionary = a dictionary inside another dictionary

In [ ]:
nested_dict = {
    "employee1": {"name": "Ajay", "age": 30},
    "employee2": {"name": "bijay", "age": 25}
}

In [ ]:
# use case
restaurant_menu = {
    'Dish1': {'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'},
    'Dish2': {'name': 'Chicken Caesar Salad', 'price': 12.50, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'},
    'Dish3': {'name': 'Margherita Pizza', 'price': 14.00, 'description': 'Pizza topped with tomato, mozzarella, and basil'}
}
restaurant_menu["Dish1"]

{'name': 'Pasta Carbonara',
 'price': 15.99,
 'description': 'Creamy pasta with bacon and parmesan'}

##17. Describe the time complexity of accessing elements in a dictionary.
  - it takes constant time to retrieve an element. This is because dictionaries use a hash table to store key-value pairs, and the hash function maps the key to a specific index, allowing for quick access.

##18. In what situations are lists preferred over dictionaries?
  - lists is an ordered collection of elements that can be of any type . it is mutable and contains heterogeneous data .
  - dictionariesstructures stores data in the form of key and value pairs . keys are unique and immutable .  these are unordered but in python 3.7 they retain the order of insertion .
  -  if you want a odered collection and want to maintain a stack or queue lists are more preferable . where if you want to store the value in the form of key value in which when you search for key its value will be pop up like in restraunt menu dictionaries atre preferred.

##19. Why are dictionaries considered unordered, and how does that affect the data retrieval?
  - dictionaries are unordered because they do not inherent the order of the items based on when they were added. but in python 3.7 they retain the order of insertion . but in python 3.7 they retain the order od insertion .if the data is unordered You can't rely on the order of elements being consistent or predictable.You can't access items by position/index.The order of insertion isn't maintained.

##20. Explain the difference between in a list and a dictionary in terms of data retrieval.
  - lists are ordered collection of data . you retrieve data in the list with the help of index position .

In [3]:
my_list = ['apple', 'banana', 'orange']
my_list[1]

'banana'

  -  dictionaries are collection of key vlaue pairs. keys are used to access the data.

In [7]:
person = {'name':'priya', 'age': 30, 'contact':5934}
person['name']

'priya'

# Practical questions:

##1. Write a code to create a string with your name and print it.

In [8]:
name="preeti"
type(name)

str

In [9]:
print("preeti")

preeti

##2. Write a code to find the length of the string "Hello World".

In [10]:
str1="Hello world"
len(str1)

11

##3. Write a code to slice the first 3 characters from the string "Python Programming".

In [12]:
str1="Python programming"
str1[0:3]

'Pyt'

##4.Write a code to convert the string "hello" to uppercase.

In [13]:
a="hello"
a.upper()

'HELLO'

##5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [14]:
str="i like apple"
str.replace("apple","orange")

'i like orange'

##6.Write a code to create a list with numbers 1 to 5 and print it.

In [15]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

##7.Write a code to append the number 10 to the list (1, 2, 3, 4].

In [29]:
list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

##8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [30]:
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

##9.Write a code to access the second element in the list ['a', 'b', 'c', 'd].

In [32]:
lis=['a','b','c','d']
lis[1]

'b'

##10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [34]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

##11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [35]:
tup=(100,200,300)
print(tup)

(100, 200, 300)

##12. write a code to access the second-to-last element of the tuple (red. 'green', 'blue', yellow).

In [37]:
tuple=("red","green","blue","yellow")
tuple[2]

'blue'

##13.Write a code to find the minimum number in the tuple (10, 20, 5.15).

In [39]:
s=(10,20,5.15)
min(s)

5.15

##14.Write a code to find the index of the element 'cat' in the tuple (dog, cat, rabbit).

In [40]:
tuple=("dog","cat","rabbit")
tuple[1]

'cat'

##15.Write a code to create a tuple containing three different fruits and check if 'kiwi" is in it.

In [41]:
fruits = ('apple', 'banana', 'orange')

# Check if 'kiwi' is in the tuple
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

##16. Write a code to create a set with the elements a, b, 'c' and print it.

In [42]:
set={'a','b','c'}
print(set)

{'a', 'c', 'b'}

##17.Write a code to clear all elements from the set (1, 2, 3,4,5).

In [51]:
st={1,2,3,4,5}
st.clear()
print(st)

set()

##18.Write a code to remove the element 4 from the set (12,3,4).

In [54]:
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

##19.Write a code to find the union of two sets (1, 2, 3) and (3, 4, 5).

In [56]:
set1={1,2,3}
set2={3,4,5}
set1|set2

{1, 2, 3, 4, 5}

##20.Write a code to find the intersection of two sets (1, 2, 3) and (2,3,4).

In [57]:
s1={1,2,3}
s2={2,3,4}
s1&s2

{2, 3}

##21.Write a code to create a dictionary with the keys 'name', 'age", and "city", and print it.

In [58]:
my_dict={"name":"preeti","age":30,"city":"gurgaon"}
print(my_dict)

{'name': 'preeti', 'age': 30, 'city': 'gurgaon'}

##22.Write a code to add a new key-value pair "country": "USA" to the dictionary ('name': 'John, age: 25).

In [59]:
dict={"name":"john","age":25}
dict['country']='USA'
print(dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

##23.Write a code to access the value associated with the key "name" in the dictionary ['name': 'Alice', 'age: 30).

In [62]:
dict={"name":"alice","alice":30}
dict['name']

'alice'

##24.Write a code to remove the key 'age' from the dictionary [name: 'Bob', 'age: 22, city: New York].

In [63]:
dict={"name":"bob","age": 22,"city":"New York"}
dict.pop('age')
print(dict)

{'name': 'bob', 'city': 'New York'}

##25.Write a code to check if the key "city" exists in the dictionary ['name': 'Alice', 'city: Paris).

In [64]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

##26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [65]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

##27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

In [75]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [2, 21, 47, 58, 84]

##28. Write a code to create a list with strings and print the element at the third index

In [76]:
my_list = ['apple', 'banana', 'cherry', 'orange']
print("Element at index 3:", my_list[3])

Element at index 3: orange

##29.Write a code to combine two dictionaries into one and print the result.

In [80]:
e_id={1,2,3,4}
e_name={"ajay","bijay","john","alice"}
{e_id:e_name for e_id, e_name in zip(e_id, e_name)}

{1: 'alice', 2: 'john', 3: 'ajay', 4: 'bijay'}

##30.Write a code to convert a list of strings into a set.

In [102]:
my_list = ['apple','banana','cherry','apple','banana']
my_set = set(my_list)
print(my_set)

TypeError: 'set' object is not callable